.navbar-light {
    /*--header-color: #df98ab;*/
    background-color: var(--header-color);
    position: fixed;
    /*Darle una profundidad mas externa para que el carrusel no lo sobrepase*/
    z-index: 20;
    /*pegado a la izquierda*/
    left: 0;
    /*pegado al techo*/
    top: 0;
    /*pegado a la derecha*/
    right: 0;
}


/*Poner un marco al navbar al seleccionar*/

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    display: block;
    background-color: var(--navbar-hover);
    border-radius: 5px;
}

.navbar-collapse {
    text-align: right;
}


/*Carrusel*/

.carousel {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}