.navbar img {
    align-items: top;
}

.navbar-light {
    --header-color: #df98ab;
    background-color: var(--header-color);
    position: fixed;
    /*Darle una profundidad mas externa para que el carrusel no lo sobrepase*/
    z-index: 20;
    /*pegado a la izquierda*/
    left: 0;
    /*pegado al techo*/
    top: 0;
    /*pegado a la derecha*/
    right: 0;
}

.navbar-collapse {
    text-align: right;
}


/*Carrusel*/

.carousel {
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}


/*
.carousel-item {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    float: center;
}

.carousel .item img {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    float: center;
}

.container {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    float: center;
}



/*--Carrusel--

.carousel-item {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: auto;
}

.carousel-item-next {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: auto;
}

.carousel {
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    height: auto;
}


.d-block {
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    height: auto;
}

.carousel-inner {
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    height: auto;
}

.carousel-caption {
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    height: auto;
}