.navbar img {
    align-items: top;
}

.navbar-light {
    --header-color: #df98ab;
    background-color: var(--header-color);
    position: fixed;
    /*Darle una profundidad mas externa para que el carrusel no lo sobrepase*/
    z-index: 20;
    /*pegado a la izquierda*/
    left: 0;
    /*pegado al techo*/
    top: 0;
    /*pegado a la derecha*/
    right: 0;
}

.navbar-collapse {
    text-align: right;
}


/*Carrusel*/

.carousel {
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}