/*
tabla de medida de unidades
https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/Values_and_units
*/


/*----Global----*/

body {
    /*Variables de colores*/
    --header-color: #df98ab;
    /*Lo demas*/
    background-color: #ebebeb;
    /*#FCFCFC*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    /*interlineado*/
    line-height: 1.63em;
    margin: 0;
    /*Generar relleno para que el contenido no se solape con el texto*/
    margin-top: 50px;
    /*Para que el footer siempre se quede abajo*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*Poner una imagen de fondo*/
    background-image: url("css-img/backbody.jpg");
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
}

p {
    margin-bottom: 1.6em;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.3em;
}

.contenido {
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
}


/*Animacion de fundido en el main*/

main {
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*---Publicaciones---*/


/*Bloque de las publicaciones*/

#publicaciones {
    width: 90%;
    height: auto;
    overflow: hidden;
    /*border: 1px solid;*/
    margin-top: 30px;
}


/*Titulo de las publicaciones*/

#publicaciones a {
    color: #BC6F29;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

#publicaciones a:hover {
    text-decoration: underline;
}

.post {
    width: 98%;
    /*float: center;*/
    height: auto;
    /*Que el texto no se salga del contenedor*/
    overflow: hidden;
    padding: 7px;
    border-left-width: 5px;
    border-radius: 10px;
}


/*Descripcion de la publicacion*/

.post p {
    /*Tamaño maximo del contenedor*/
    height: 120px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    line-break: auto;
}

.enlace-post {
    text-decoration: none;
}


/*Imagenes de la publicacion*/

.img-post {
    float: left;
    margin-top: 20px;
    width: 320px;
    height: 240px;
    /*margin: arriba / derecha / abajo / izquierda*/
    margin: 7px 40px 8px 0px;
    padding: 5px;
    border-radius: 40px;
}


/*
.img-post:hover {
    scale: 110%;
}
*/


/*---Cabecera---*/

header {
    background-color: var(--header-color);
    /*que flote hacia la izquierda*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FCFCFC;
    /*altura*/
    height: 4rem;
}


/*Links de la cabecera*/

header a {
    color: #FCFCFC;
    text-decoration: none;
}


/*Al pasar el mouse por encima de cada bloque*/

#menu ul li a:hover {
    background-color: #BC6F29;
}

.main {
    /*Generar un relleno para la cabecera que se mueve*/
    padding-top: 4rem;
}


/*---Pie de pagina---*/

footer {
    /*Que tenga los mismos colores que la cabecera*/
    background-color: var(--header-color);
    /*que flote hacia la izquierda*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #FCFCFC;
    padding: 1rem 0;
    /*Para que el footer siempre se quede abajo*/
    margin-top: auto;
    /**/
    height: 11vh;
    line-height: 0.5rem;
    height: auto;
}

.foot-izq {
    text-align: left;
    float: left;
    /*Para que no colisionen las letras por salto de linea*/
    line-height: 1rem;
}

.foot-der {
    text-align: right;
    /*float: right;*/
}

.foot-der img {
    padding: 20px;
    /*
    text-align: right;
    
    */
    text-decoration: none;
    width: 10%;
    min-width: 64px;
}

.foot-der img:hover {
    opacity: 0.6;
}


/*----Pagina de contacto----*/

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form h1 {
    font-family: monospace;
    color: #000;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

form input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
}

form textarea {
    color: #000;
    min-height: 100px;
    max-height: 300px;
    max-width: 100%;
}

#form-boton {
    background-color: #BC6F29;
    color: #fff;
    padding: 20px;
    /*border: 3px */
    border-radius: 5px;
}


/*Validar espacios*/

form input:required:not(:placeholder-shown):valid {
    border: 2px solid rgb(64, 202, 22);
}

form input:required:not(:placeholder-shown):invalid {
    border: 2px solid rgb(214, 9, 9);
}


/*Hacer que el menu se adapte a la resolucion y cambie*/

@media only screen and (max-width: 767px) {
    main img {
        /*imagenes responsivas*/
        width: 100%;
        height: auto;
    }
    .img-post {
        /*imagenes responsivas*/
        width: 100%;
        height: auto;
    }
    header a {
        color: #FCFCFC;
        text-decoration: none;
        /*text-align: top;*/
    }
    /*Trasformar cada opcion del menu en un bloque*/
    /*Cambiar pagina de contacto*/
    form {
        width: 100%;
    }
    /*Cambiar footer*/
    footer {
        width: 100%;
        margin-top: auto;
    }
}