.navbar-light {
    /*--header-color: #df98ab;*/
    background: linear-gradient( to right, var(--header-color-dark) 10%, var(--header-color) 20%);
    position: fixed;
    /*Darle una profundidad mas externa para que el carrusel no lo sobrepase*/
    z-index: 20;
    /*pegado a la izquierda*/
    left: 0;
    /*pegado al techo*/
    top: 0;
    /*pegado a la derecha*/
    right: 0;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.65);
}
.navbar-light .btn {
    position: absolute;
    margin-right: 6.5rem;
    right: 0;

    
}

#btnCarrito{
    margin-right: 10px;
}


/*Responsividad de la tabla*/
.table-responsive-custom {
    /*display: block;*/
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 500px) {
    .table_responsive_small{
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .table_responsive_big{
        display: block;
    }
}


/*Boton de iniciar sesion*/
@media only screen and (max-width: 600px) {
    .btnSigin {
        max-width: 130px;
    }

    .btnSigin span{
        display: none;
    }
}


/*Boton de la cabecera*/

.btn-outline-success a {
    color: #000000;
}

.btn-outline-success {
    color: #000000;
    background-color: var(--navbar-hover);
    border-color: var(--navbar-hover);
    border-radius: 5px;
}

.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:visited {
    color: #000000;
    background-color: var(--navbar-hover-trasnparent);
    border-color: var(--navbar-hover);
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem var(--navbar-hover-trasnparent);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: var(--navbar-hover);
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: var(--navbar-hover);
    border-color: var(--navbar-hover);
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--navbar-hover-trasnparent);
}

@media only screen and (max-width: 1200px) {
    .navbar-light .btn {
        position: absolute;
        margin-right: 12.5rem;
        right: 0;
        top: 0;
        margin-top: 1.1rem;
    }

    #btnCarrito{
        margin-right: 6rem;
    }
    /*contenido dentro de la hamburguesa*/
    .navbar-collapse .nav-link {
        text-align: right;
        margin-right: 20px;
    }
}


/*Poner un marco al navbar al seleccionar*/

.navbar-light .navbar-nav .nav-item:hover,
.navbar-light .navbar-nav .nav-item:focus {
    display: block;
    background-color: var(--navbar-hover);
    border-radius: 5px;
}


/*Carrusel*/

.carousel {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}


/*añadir una sombra atras del texto blanco del carrusel*/

.carousel h5,
.carousel p {
    background-color: var(--color-shadow);
}